<% include header.html %>
        <div class="page-wrap">

            <!--Bootstrapped nav bar-->
            <% include navbar.html %>

			<section>
            <div id="team">
                <img src="res/imgs/typing.jpg">

                <div id="team-header"> 
                </div>
                <h1>Our Team</h1>

                <div id="members">
                    <div class="inline">
                        <div class="member circle-wrap circle-outer inline">
                            <div id="soon" class="circle-wrap circle-inner">
                                <h2>SOON</h2>
                            </div>
                        </div>
                        <br>
                        <div id="soon-descr" class="about-prof inline">
                            <h3>Soon Chee Loong</h3>
                            <p>
                                c4soonch<br>
                                <a href="mailto:cheeloong.soon@mail.utoronto.ca">cheeloong.soon@mail.utoronto.ca</a>
                            </p>
                            <br>
                            <p>
                                I am passionate about Web Programming. My dream is to create the next major social network site. I have experience programming robotics, signal processing algorithms, controls, and constraint programming. I definitely love what I do. picture.
                            </p>
                        </div>
                    </div>

                    <div class="inline">
                        <div class="member circle-wrap circle-outer inline">
                            <div id="brandon" class="circle-wrap circle-inner">
                                <h2>BRANDON</h2>
                            </div>
                        </div>
                        <br>
                        <div id="brandon-descr" class="about-prof inline">
                            <h3>Brandon Oliver</h3>
                            <p>
                                g4oliver<br>
                                <a href="mailto:brandon.oliver@mail.utoronto.ca">brandon.oliver@mail.utoronto.ca</a>
                            </p>
                            <br>
                            <p>
                                I love to program almost as much as I love to eat. I hope to be able to work in many cities around the world and try their local cuisines.
                            </p>
                        </div>
                    </div>
                    <div class="inline">
                       <div class="member circle-wrap circle-outer inline">
                            <div id="fiona" class="circle-wrap circle-inner">
                                <h2>Fiona leung</h2>
                            </div>
                        </div>
                        <br>
                        <div id="fiona-descr" class="about-prof inline">
                            <h3>Fiona Leung</h3>
                            <p>
                                g3fional<br>
                                <a href="mailto:fionaw.leung@mail.utoronto.ca">fionaw.leung@mail.utoronto.ca</a>
                            </p>
                            <br>
                            <p>
                                I like studying computer science, but currently I am not entirely sure which specific CS discipline CS I want to pursue as a career. I still have plenty to explore ಠ_ಠ. In my spare time, I practice drawing, crafting and go hours on end with customizing, modifying, or tweaking things I have access to.
                            </p>
                        </div>
                    </div>
                    <div class="inline">
                       <div class="member circle-wrap circle-outer inline">
                            <div id="felix" class="circle-wrap circle-inner">
                                <h2>Ding Yi lu</h2>
                            </div>
                        </div>
                        <br>
                        <div id="felix-descr" class="about-prof inline">
                            <h3>Ding Yi Lu</h3>
                            <p>
                                g3luding<br>
                                <a href="mailto:dingyi.lu@mail.utoronto.ca">dingyi.lu@mail.utoronto.ca</a>
                            </p>
                            <br>
                            <p>
                                I like polar bears. I am a food and travel enthusiast. In the future I hope to travel to Malaysia, India, and Japan because they have some of the best food in the world and I would like to eat some authentic food there. Once I graduate, I hope to find a job and pay back my student loans. With enough cash, I will begin to travel around the world.
                            </p>
                        </div>
                    </div>
                </div>
            <div class="push"></div>
		</div>
		</section>
        </div>
        </div> <!--End of page wrap-->
		
<% include footer.html %>
