<% include header.html %>
        <div class="page-wrap">

            <!--Bootstrapped nav bar-->
            <% include navbar.html %>
            

			<div id="game_container">
				<div>
                	<h1>Games</h1>
                </div>
				<div style="margin: 3em; font-size: 2.5em; color: white">
            		Learning is fun. Try out our new interactive ear training games. Challenge your friends score by comparing them to yours using their profile.
            	</div>

				<div class="game_data">
					<div class="game_icon">
						<a href="/games/1">
						<img src="/res/imgs/chordIdentifier.png" />
						</a>
					</div>
					<p>This game will test your abilities to distinguish chords. Which chord is which?</p>
				</div>
				<div class="game_data">
					<div class="game_icon">
						<a href="/games/2">
						<img src="/res/imgs/perfectPitch.png" />
						</a>
					</div>
					<p>This Game will challenge your pitch detection. Identify what pitch is playing!</p>
				</div>
				<div class="game_data">
					<div class="game_icon">
						<a href="/games/3">
						<img src="/res/imgs/relativePitch.png" />
						</a>
					</div>
					<p>Can you tell the sounds of two notes apart? Which pitch is which?!</p>
				</div>
				<div class="game_data">
					<div class="game_icon">
						<a href="/games/4">
						<img src="/res/imgs/pitchDetector.png" />
						</a>
					</div>
					<p>Try our new pitch detector! It can take in live-input and identify it's pitch. You may use this application to tune your guitars to whistles!</p>
				</div>
			</div>
			           
            <div class="push"></div>
        </div> <!--End of page wrap-->
<% include footer.html %>
